<nav class="navbar">
    <a href="index.html" class="logo-link">
        <div class="logo">
            <span class="logo-icon">🏆</span>
            Học cùng thầy Phú
        </div>
    </a>
    
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="index.html" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item">
            <a href="page_diemso.html" class="nav-link">Tra cứu điểm số</a>
        </li>
        <li class="nav-item dropdown">
            <div class="dropdown-toggle">
                Luyện Bài Tập
            </div>
            <div class="dropdown-content">
                <a href="page/pagelv1.html">IC3 GS6 Spark Level 1</a>
                <a href="page/pagelv2.html">IC3 GS6 Spark Level 2</a>
                <a href="#">IC3 GS6 Spark Level 3</a>
            </div>
        </li>
    </ul>
</nav>