<!-- <nav class="navbar">
    <a href="index.html" class="logo-link">
        <div class="logo">
            <span class="logo-icon">🏆</span>
            Học cùng thầy Phú
        </div>
    </a>
    
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="index.html" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item">
            <a href="page_diemso.html" class="nav-link">Tra cứu điểm số</a>
        </li>
        <li class="nav-item dropdown">
            <div class="dropdown-toggle">
                Luyện Bài Tập
            </div>
            <div class="dropdown-content">
                <a href="page/pagelv1.html">IC3 Spark Level 1 - lớp 3</a>
                <a href="page/pagelv2.html">IC3 Spark Level 2 - lớp 4</a>
                <a href="page/pagelv2.html">IC3 Spark Level 3 - lớp 5</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <div class="dropdown-toggle">
                Luyện Thi
            </div>
            <div class="dropdown-content">
                <a href="page_luyenthi/pagelv1.html">Đề thi Level 1 - lớp 3</a>
                <a href="page/pagelv2.html">Đề thi Level 2 - lớp 4</a>
                <a href="page/pagelv2.html">Đề thi Level 3 - lớp 5</a>
            </div>
        </li>
    </ul>
</nav> -->

<!--sửa code-->
<nav class="navbar">
    <a href="index.html" class="logo-link">
        <div class="logo">
            <span class="logo-icon">🏆</span>
            Học cùng thầy Phú
        </div>
    </a>
    
    <!-- Thêm nút hamburger menu này -->
    <button class="menu-toggle" id="menuToggle" >
    <span></span>
    <span></span>
    <span></span>
    </button>
    
    <!-- Thêm id="navMenu" vào ul -->
    <ul class="nav-menu" id="navMenu">
        <li class="nav-item">
            <a href="index.html" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item">
            <a href="page_diemso.html" class="nav-link">Tra cứu điểm số</a>
        </li>
        <li class="nav-item dropdown" id="dropdown1">
            <div class="dropdown-toggle">
                Luyện Bài Tập
            </div>
            <div class="dropdown-content">
                <a href="./page/pagelv1.html">IC3 Spark Level 1 - lớp 3</a>
                <a href="./page/pagelv2.html">IC3 Spark Level 2 - lớp 4</a>
                <a href="./page/pagelv2.html">IC3 Spark Level 3 - lớp 5</a>
            </div>
        </li>
        <li class="nav-item dropdown" id="dropdown2">
            <div class="dropdown-toggle">
                Luyện Thi
            </div>
            <div class="dropdown-content">
                <a href="./page_luyenthi/pagelv1.html">Đề thi Level 1 - lớp 3</a>
                <a href="./page_luyenthi/pagelv2.html">Đề thi Level 2 - lớp 4</a>
                <a href="./page_luyenthi/pagelv2.html">Đề thi Level 3 - lớp 5</a>
            </div>
        </li>
    </ul>
</nav>